<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Archiwum dyspozycji</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Archiwum dyspozycji (podsumowanie)</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Ilość wpisów</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="summary : ${archiveSummaryList}">
        <td th:text="${summary.displayName}">dyspozycja 2025.07</td>
        <td th:text="${summary.count}">30</td>
    </tr>
    </tbody>
</table>

</body>
</html>
