<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edytuj Użytkownika</title>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Edytuj Użytkownika</h1>

<div th:if="${error != null}" style="color: red; margin-bottom: 10px;">
  <p th:text="${error}"></p>
</div>

<form th:action="@{/admin/edit-user/{id}(id=${user.id})}" th:object="${user}" method="post">
  <label for="username">Nazwa:</label>
  <input type="text" id="username" th:field="*{username}" required/><br/>

  <label for="password">Hasło (pozostaw puste, jeśli bez zmian):</label>
  <input type="password" id="password" th:field="*{password}" /><br/>

  <label for="role">Rola:</label>
  <select id="role" th:field="*{role}">
    <option value="ROLE_USER" th:selected="${user.role == 'ROLE_USER'}">Użytkownik</option>
    <option value="ROLE_ADMIN" th:selected="${user.role == 'ROLE_ADMIN'}">Admin</option>
  </select><br/>

  <label for="firstName">Imię:</label>
  <input type="text" id="firstName" th:field="*{firstName}" /><br/>

  <label for="lastName">Nazwisko:</label>
  <input type="text" id="lastName" th:field="*{lastName}" /><br/>

  <label for="employmentDate">Data zatrudnienia:</label>
  <input type="date" id="employmentDate" th:field="*{employmentDate}" /><br/>

  <label for="jobTitle">Stanowisko:</label>
  <input type="text" id="jobTitle" th:field="*{jobTitle}" /><br/>

  <button type="submit">Zapisz</button>
</form>

</body>
</html>
