<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
<h1>Coś poszło nie tak...</h1>
<p>Status: <span th:text="${status}"></span></p>
<p>Typ błędu: <span th:text="${error}"></span></p>
<p>Wiadomość: <span th:text="${message}"></span></p>
<p>Czas: <span th:text="${timestamp}"></span></p>
<p>Ścieżka: <span th:text="${path}"></span></p>
<a th:href="@{/}">Powrót do strony głównej</a>
</body>
</html>
