<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Strona Główna</h1>
<button onclick="window.location.href='/grafik'">Grafik</button>
<button onclick="window.location.href='/dyspozycja'">Dyspozycja</button>
<button onclick="window.location.href='/summary'">Podsumowanie</button>

</body>
</html>
